<h1>Order</h1>

{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Order <small>{{_id}}</small></span>
                        <p><em>{{user.userId.name}} ({{user.userId.email}})</em></p>
                        <p class="date">{{date}}</p>
                        <ol>
                            {{#each courses}}
                                <li>{{course.title}} (x<strong>{{count}}</strong>)</li>
                            {{/each}}
                            <hr>
                            <p>Price: <span class="price">{{price}}</span></p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}


{{else}}
    <p>There are no orders yet</p>
{{/if}}